# **Package**

First , we need to install the package *unravel* using !pip statment. This step is necessary since it is the base for everything we'll be doing next. Also, add the *git+* at the begging of the repository link, as follows:

In [1]:
!pip install git+https://github.com/maxelOA/unravel.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/maxelOA/unravel.git
  Cloning https://github.com/maxelOA/unravel.git to /tmp/pip-req-build-eppruzxg
  Running command git clone --filter=blob:none --quiet https://github.com/maxelOA/unravel.git /tmp/pip-req-build-eppruzxg
  Resolved https://github.com/maxelOA/unravel.git to commit b37f3c04a8104019dabbd5aadd3f09037f968093
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.21.6 in /usr/local/lib/python3.9/dist-packages (from unravel==1.0) (1.22.4)
Requirement already satisfied: pandas>=1.3.5 in /usr/local/lib/python3.9/dist-packages (from unravel==1.0) (1.4.4)
Requirement already satisfied: requests>=2.25.1 in /usr/local/lib/python3.9/dist-packages (from unravel==1.0) (2.27.1)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.5->unravel==1.0) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.5->unravel==1.0) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.25.1->unravel==1.0) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.25.1->unravel==1.0) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.25.1->unravel==1.0) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests>=2.25.1->unravel==1.0) (2.0.12)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.3.5->unravel==1.0) (1.16.0)
Building wheels for collected packages: unravel
  Building wheel for unravel (setup.py) ... done
  Created wheel for unravel: filename=unravel-1.0-py3-none-any.whl size=3477 sha256=03b3994612365c9a60aa49c707a4258eb34cf5e675d9ba6b826bf2fb38b60438
  Stored in directory: /tmp/pip-ephem-wheel-cache-90sdvd3s/wheels/93/37/d3/95d235f41ee3660fb8d2ad06fee9eafd6826410b10205a8c5d
Successfully built unravel
Installing collected packages: unravel
Successfully installed unravel-1.0

### link:

https://github.com/maxelOA/unravel.git

We import the package as follows

In [2]:
import unravel.unravel as un
import pandas as pd
import requests as r

# **UNRAVEL PACK**

## DataFrame

In [3]:
url='http://ergast.com/api/f1/2022/results.json'
data=pd.DataFrame(r.get(url).json()['MRData']['RaceTable']['Races'][0]['Results'])
data.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

## st_df

st_df(*DataFrame*)

Retrieve the name of the columns that contain dict/list in their elements

In [4]:
un.st_df(data)

['Driver', 'Constructor', 'Time', 'FastestLap']

## expand and expand_noKey

We'll be working with the Driver column so assign it to a variable, like this:

In [5]:
Driver=data['Driver']
Driver.head()

0    {'driverId': 'leclerc', 'permanentNumber': '16...
1    {'driverId': 'sainz', 'permanentNumber': '55',...
2    {'driverId': 'hamilton', 'permanentNumber': '4...
3    {'driverId': 'russell', 'permanentNumber': '63...
4    {'driverId': 'kevin_magnussen', 'permanentNumb...
Name: Driver, dtype: object

We get the keys stored in the dictionary

In [6]:
un.first_dict(Driver).keys()

dict_keys(['driverId', 'permanentNumber', 'code', 'url', 'givenName', 'familyName', 'dateOfBirth', 'nationality'])

### expand_noKey

Expand the information inside of every dict into their own column without a specific index:

expand_noKey( *Column*)

In [7]:
un.expand_noKey(Driver).head()

,driverId,permanentNumber,code,url,givenName,familyName,dateOfBirth,nationality
0,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,1997-10-16,Monegasque
1,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,1994-09-01,Spanish
2,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,1985-01-07,British
3,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,1998-02-15,British
4,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,1992-10-05,Danish

### expand

Expand the information inside of every dict into their own column, each name contains a especific **prefix** given by the user

expand(*Column*, *prefix*)

In [8]:
un.expand(Driver,'Driver').head()

,Driver_driverId,Driver_permanentNumber,Driver_code,Driver_url,Driver_givenName,Driver_familyName,Driver_dateOfBirth,Driver_nationality
0,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,1997-10-16,Monegasque
1,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,1994-09-01,Spanish
2,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,1985-01-07,British
3,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,1998-02-15,British
4,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,1992-10-05,Danish

## unravel

Return the data with every structured column gone by their expanded content

unravel(*DataFrame*)

**WARNING**: \
unravel function executes the change directly in the original dataframe

In [9]:
un.unravel(data).head()

,number,position,positionText,points,Driver_driverId,Driver_permanentNumber,Driver_code,Driver_url,Driver_givenName,Driver_familyName,...,grid,laps,status,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
0,16,1,1,26,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,...,1,57,Finished,5853584,1:37:33.584,1,51,1:34.570,kph,206.018
1,55,2,2,18,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,...,3,57,Finished,5859182,+5.598,3,52,1:35.740,kph,203.501
2,44,3,3,15,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,...,5,57,Finished,5863259,+9.675,5,53,1:36.228,kph,202.469
3,63,4,4,12,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,...,9,57,Finished,5864795,+11.211,6,56,1:36.302,kph,202.313
4,20,5,5,10,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,...,7,57,Finished,5868338,+14.754,8,53,1:36.623,kph,201.641

In [10]:
data.head()

,number,position,positionText,points,Driver_driverId,Driver_permanentNumber,Driver_code,Driver_url,Driver_givenName,Driver_familyName,...,grid,laps,status,Time_millis,Time_time,FastestLap_rank,FastestLap_lap,FastestLap_Time_time,FastestLap_AverageSpeed_units,FastestLap_AverageSpeed_speed
0,16,1,1,26,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,...,1,57,Finished,5853584,1:37:33.584,1,51,1:34.570,kph,206.018
1,55,2,2,18,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,...,3,57,Finished,5859182,+5.598,3,52,1:35.740,kph,203.501
2,44,3,3,15,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,...,5,57,Finished,5863259,+9.675,5,53,1:36.228,kph,202.469
3,63,4,4,12,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,...,9,57,Finished,5864795,+11.211,6,56,1:36.302,kph,202.313
4,20,5,5,10,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,...,7,57,Finished,5868338,+14.754,8,53,1:36.623,kph,201.641

If for any reason we need to have the original dataFrame we have to define it again

In [11]:
url='http://ergast.com/api/f1/2022/results.json'
data=pd.DataFrame(r.get(url).json()['MRData']['RaceTable']['Races'][0]['Results'])
data.head()

,number,position,positionText,points,Driver,Constructor,grid,laps,status,Time,FastestLap
0,16,1,1,26,"{'driverId': 'leclerc', 'permanentNumber': '16...","{'constructorId': 'ferrari', 'url': 'http://en...",1,57,Finished,"{'millis': '5853584', 'time': '1:37:33.584'}","{'rank': '1', 'lap': '51', 'Time': {'time': '1..."
1,55,2,2,18,"{'driverId': 'sainz', 'permanentNumber': '55',...","{'constructorId': 'ferrari', 'url': 'http://en...",3,57,Finished,"{'millis': '5859182', 'time': '+5.598'}","{'rank': '3', 'lap': '52', 'Time': {'time': '1..."
2,44,3,3,15,"{'driverId': 'hamilton', 'permanentNumber': '4...","{'constructorId': 'mercedes', 'url': 'http://e...",5,57,Finished,"{'millis': '5863259', 'time': '+9.675'}","{'rank': '5', 'lap': '53', 'Time': {'time': '1..."
3,63,4,4,12,"{'driverId': 'russell', 'permanentNumber': '63...","{'constructorId': 'mercedes', 'url': 'http://e...",9,57,Finished,"{'millis': '5864795', 'time': '+11.211'}","{'rank': '6', 'lap': '56', 'Time': {'time': '1..."
4,20,5,5,10,"{'driverId': 'kevin_magnussen', 'permanentNumb...","{'constructorId': 'haas', 'url': 'http://en.wi...",7,57,Finished,"{'millis': '5868338', 'time': '+14.754'}","{'rank': '8', 'lap': '53', 'Time': {'time': '1..."

## first_dict

Retrieve the information from the first dictionary of the structured column

We called the Driver column just to refresh our memory

In [12]:
Driver.head()

0    {'driverId': 'leclerc', 'permanentNumber': '16...
1    {'driverId': 'sainz', 'permanentNumber': '55',...
2    {'driverId': 'hamilton', 'permanentNumber': '4...
3    {'driverId': 'russell', 'permanentNumber': '63...
4    {'driverId': 'kevin_magnussen', 'permanentNumb...
Name: Driver, dtype: object

first_dict(*Column*)

In [13]:
fdict=un.first_dict(Driver)
fdict

{'driverId': 'leclerc',
 'permanentNumber': '16',
 'code': 'LEC',
 'url': 'http://en.wikipedia.org/wiki/Charles_Leclerc',
 'givenName': 'Charles',
 'familyName': 'Leclerc',
 'dateOfBirth': '1997-10-16',
 'nationality': 'Monegasque'}

## is_list

is_list(*object*)

In [14]:
un.is_list(fdict)

False

## is_dict

is_dict(*Object*)

In [15]:
un.is_dict(fdict)

True

## contains_dict

Return a list with Boolean values which indicates whether a Column contains a dict or not

In [16]:
un.contains_dict(Driver)[0:9]

[True, True, True, True, True, True, True, True, True]

In [17]:
un.contains_dict(data['number'])[0:9]

[False, False, False, False, False, False, False, False, False]

## constains_list

Return a list with Boolean values which indicates whether a Column contains a list or not

In [18]:
un.contains_list(Driver)[0:9]

[False, False, False, False, False, False, False, False, False]

## dataframe_res

Return a new dataframe wich contains data from DataFrame1 and DataFrame2 in an unique DataFrame

dataframe_res(*DataFrame1*, *position_insert*, *DataFrame2*)

First, we define an auxliar DataFrame as follows:

In [19]:
data_aux=data[['number','Driver']]
data_aux.head()

  number                                             Driver
0     16  {'driverId': 'leclerc', 'permanentNumber': '16...
1     55  {'driverId': 'sainz', 'permanentNumber': '55',...
2     44  {'driverId': 'hamilton', 'permanentNumber': '4...
3     63  {'driverId': 'russell', 'permanentNumber': '63...
4     20  {'driverId': 'kevin_magnussen', 'permanentNumb...

We got the position of were the *Driver* column is located

In [20]:
data_aux.columns.get_loc('Driver')

1

We define a new dataframe with all the data from Driver column after expand_noKey function

In [22]:
data_insert=un.expand_noKey(Driver)
data_insert.head()

,driverId,permanentNumber,code,url,givenName,familyName,dateOfBirth,nationality
0,leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,1997-10-16,Monegasque
1,sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,1994-09-01,Spanish
2,hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,1985-01-07,British
3,russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,1998-02-15,British
4,kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,1992-10-05,Danish

In [23]:
un.dataframe_res(data_aux,2,data_insert).head()

,number,Driver,driverId,permanentNumber,code,url,givenName,familyName,dateOfBirth,nationality
0,16,"{'driverId': 'leclerc', 'permanentNumber': '16...",leclerc,16,LEC,http://en.wikipedia.org/wiki/Charles_Leclerc,Charles,Leclerc,1997-10-16,Monegasque
1,55,"{'driverId': 'sainz', 'permanentNumber': '55',...",sainz,55,SAI,http://en.wikipedia.org/wiki/Carlos_Sainz_Jr.,Carlos,Sainz,1994-09-01,Spanish
2,44,"{'driverId': 'hamilton', 'permanentNumber': '4...",hamilton,44,HAM,http://en.wikipedia.org/wiki/Lewis_Hamilton,Lewis,Hamilton,1985-01-07,British
3,63,"{'driverId': 'russell', 'permanentNumber': '63...",russell,63,RUS,http://en.wikipedia.org/wiki/George_Russell_%2...,George,Russell,1998-02-15,British
4,20,"{'driverId': 'kevin_magnussen', 'permanentNumb...",kevin_magnussen,20,MAG,http://en.wikipedia.org/wiki/Kevin_Magnussen,Kevin,Magnussen,1992-10-05,Danish